.login {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.login .login label {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.login button {
    margin: 5px 30px;
    padding: 10px;
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(61, 110, 184, 0.5);
    background-color: rgba(61, 110, 184, 0.5);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

.login .login input {
    display: block;
    width: 30%;
    box-sizing: border-box;
    border: 2px groove black;
    outline: none;
    font: inherit;
    margin: auto;
} 