.child-name-label{
    text-align: center;
}
label{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:20px;
}
.select{
    width:200px;
}
.subject-label{
    text-align: left;
}
.subject-label Select{
    width:100px;
    float:center;
}
.timetable {
    text-align: center;
    padding-left: 100px;
    width:70%;
    height:70%;
}